.callback {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 455px;
  margin-bottom: 170px;

  &::before {
    content: "";
    position: absolute;
    width: 844px;
    height: 455px;
    background: no-repeat url("../img/callback-desktop.jpg");
    top: 0;
    left: 40px;
  }
}

.callback__wrapper {
  position: absolute;
  width: 656px;
  height: 315px;
  top: 70px;
  right: 0;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 50px;
  box-sizing: border-box;
}

.callback__header {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  color: #141517;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
}

.callback__text {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #141517;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 24px;
}

.callback__form input {
  box-sizing: border-box;
  width: 269px;
  height: 50px;
  border: 1px solid rgba(44, 46, 63, 0.3);
  padding: 15px;
  margin-bottom: 26px;

  &:hover {
    border: 1px solid rgba(44, 46, 63, 0.6);
  }
}

.callback__mobile {
  margin-right: 10px;
}

.callback__button {
  box-sizing: border-box;
  width: 175px;
  height: 50px;
  border: none;
  margin: 0 auto;
  padding: 17px 40px;
}

.callback__label {
  position: relative;
}

.callback__required {
  position: absolute;
  color: #fe7865;
  // font-weight: 600;
  // font-size: 17px;
  // line-height: 21px;
  top: -8px;
  left: 11px;
}

.callback__form .callback__mobile {
  padding-left: 23px;
}

@media (max-width: 1023px) {
  .callback {
    min-width: 768px;
    width: auto;
    padding: 0;
    margin-bottom: 80px;

    &::before {
      width: 768px;
      height: 455px;
      background: no-repeat url("../img/callback-tablet.jpg");
      margin: 0 auto;
      right: 0;
      left: 0;
    }
  }

  .callback__wrapper {
    height: 311px;
    margin: 0 auto;
    right: 0;
    left: 0;
    box-shadow: none;
  }

  .callback__button {
    width: 250px;
    font-size: 10px;
    line-height: 12px;
    padding: 19px 80px;
  }

  .callback__form input {
    margin-bottom: 20px;
  }
}
