.destinations {
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 20px;
}

.destinations__wrapper {
  width: 336px;
  margin-bottom: 40px;
}

.destinations__header {
  position: relative;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1.245px;
  color: #2c2e3f;
  margin-bottom: 64px;

  &::after {
    position: absolute;
    content: "";
    width: 228.51px;
    height: 4px;
    background-color: #fe7865;
    bottom: -32px;
    left: 0;
  }
}

.destinations__about {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.466667px;
  color: rgba(44, 46, 63, 0.7);
}

.destinations__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.destinations__item a {
  position: relative;
  display: block;

  &:hover {
    z-index: 3;
    background-color: rgba(20, 21, 23, 0.6);
  }
}

.destinations__text {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.415px;
  color: #2c2e3f;

  position: absolute;
  bottom: -1px;
  left: 68px;
  width: 215px;
  height: 44px;
  background-color: #ffffff;
  text-align: center;

  z-index: 2;
  margin: 0;
  padding: 0;
  padding-top: 17px;
}

.destinations__greece {
  background: no-repeat url("../img/greece-desktop.jpg");
  width: 350px;
  height: 430px;
}

.destinations__albania {
  background: no-repeat url("../img/albania-desktop.jpg");
  width: 350px;
  height: 430px;
}

.destinations__makedonia {
  background: no-repeat url("../img/makedonia-desktop.jpg");
  width: 350px;
  height: 430px;
}

.destinations__montenegro {
  background: no-repeat url("../img/montenegro-desktop.jpg");
  width: 350px;
  height: 430px;
}

.destinations__horvatia {
  background: no-repeat url("../img/horvatia-desktop.jpg");
  width: 350px;
  height: 430px;
}

.destinations__item {
  margin-right: 40px;
  position: relative;
  margin-bottom: 97px;
}

.destinations__hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 279px;
  background-color: rgba(20, 21, 23, 0.6);
  padding-top: 152px;
  align-items: center;
  z-index: 10;
}

.destinations__item:hover .destinations__text {
  z-index: 10;
}

.destinations__item:hover .destinations__hover {
  display: block;
}

.destinations__button {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 2px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  width: 264px;
  border: 1px solid #ffffff;
  padding-top: 29px;
  padding-bottom: 29px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .destinations {
    min-width: 768px;
    width: auto;
    padding: 0;
    margin-bottom: 91px;
  }

  .destinations__header {
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    &::after {
      display: none;
    }
  }

  .destinations__about {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .destinations__wrapper {
    width: 355px;
    margin: 0 auto;
    padding-top: 80px;
    margin-bottom: 40px;
  }

  .destinations__item {
    margin-right: 30px;
    margin-bottom: 20px;
  }

  .destinations__item:nth-child(2n) {
    margin-right: 0;
  }

  .destinations__greece {
    background: no-repeat url("../img/greece-tablet.jpg");
    width: 288px;
    height: 425px;
  }

  .destinations__albania {
    background: no-repeat url("../img/albania-tablet.jpg");
    width: 288px;
    height: 425px;
  }

  .destinations__makedonia {
    background: no-repeat url("../img/makedonia-tablet.jpg");
    width: 288px;
    height: 425px;
  }

  .destinations__montenegro {
    background: no-repeat url("../img/montenegro-tablet.jpg");
    width: 288px;
    height: 425px;
  }

  .destinations__horvatia {
    background: no-repeat url("../img/horvatia-tablet.jpg");
    width: 288px;
    height: 425px;
  }

  .destinations__hover {
    width: 288px;
    height: 274px;
  }

  .destinations__text {
    left: 37px;
  }
}

@media (max-width: 767px) {
  .destinations__header {
    font-size: 24px;
    line-height: 36px;
  }

  .destinations {
    min-width: 320px;
    width: auto;
  }

  .destinations__wrapper {
    width: auto;
    padding-top: 80px;
    margin: 0 auto 40px;
  }
}

@media (max-width: 767px) {
  .destinations {
    margin-bottom: 5px;
  }

  .destinations__item {
    margin: 0 auto 35px;

    &:nth-child(2n) {
      margin: 0 auto 35px;
    }
  }

  .destinations__wrapper {
    margin-bottom: 18px;
    width: 320px;
  }
}
