.footer {
  width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  box-sizing: border-box;
}

.footer h3 {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  color: #141517;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.footer__contry {
  width: 33%;
}

.footer__contacts {
  width: 33%;
  display: flex;
  flex-direction: column;
  padding-left: 153px;
}

.contacts__email {
  position: relative;
  text-decoration: none;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fe7865;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  margin-bottom: 17px;

  &::before {
    content: "";
    position: absolute;
    background: no-repeat url("../img/mail-icon.svg");
    width: 26px;
    height: 20px;
    top: 0;
    left: 1px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #d7d9df;
    width: 1px;
    height: 189px;
    top: -55px;
    left: -89px;
  }

  &:hover {
    color: rgba(20, 21, 23, 0.7);
  }

  &:hover::before {
    background: no-repeat url("../img/mail-icon-orange.svg");
  }
}

.contacts__tel {
  position: relative;
  text-decoration: underline;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #fe7865;
  margin: 0;
  padding: 0;
  padding-left: 40px;

  &:hover {
    color: rgba(20, 21, 23, 0.7);
  }

  &:hover::before {
    background: no-repeat url("/img/phone-icon.svg");
  }

  &::before {
    content: "";
    position: absolute;
    background: no-repeat url("/img/phone-icon-gray.svg");
    width: 30px;
    height: 30px;
    top: 2px;
    left: 6px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #d7d9df;
    width: 1px;
    height: 189px;
    top: -88px;
    right: 22px;
  }
}

.footer__offer {
  width: 33%;
  box-sizing: border-box;
  padding-left: 25px;
}

.footer__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.other__item a {
  color: rgba(20, 21, 23, 0.5);

  &:hover {
    color: #fe7865;
  }
}

.offer .offer__header {
  margin-bottom: 19px;
}

.other__item {
  width: 33%;
  text-decoration: none;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(20, 21, 23, 0.5);
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.offer__text {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(20, 21, 23, 0.5);
  margin: 0;
  padding: 0;
}

@media (max-width: 1023px) {
  .footer {
    min-width: 768px;
    width: auto;
    padding: 0;
    flex-wrap: wrap;
  }

  .footer__contry {
    box-sizing: border-box;
    width: 416px;
    padding-left: 21px;
  }

  .other__item {
    width: 125px;
  }

  .footer__contacts {
    box-sizing: border-box;
    width: 352px;
    padding-left: 50px;
  }

  .footer__offer {
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
  }

  .footer h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .offer__header,
  .offer__text {
    text-align: center;
  }


  .contacts__email {
    content: "Почта";

    &::after {
      height: 177px;
      left: -51px;
    }
  }

  .contacts__tel {
    &::after {
      height: 1px;
      width: 726px;
      top: 118px;
    }
  }
}

@media (max-width: 767px) {
  .footer {
    min-width: auto;
    width: 320px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .footer__contry {

    padding-left: 0;
    width: 100%;
    margin-bottom: 103px;
  }

  .other__header {
    text-align: center;
  }

  .other__item {
    width: 50%;
  }

  .footer__list {
    padding: 0 43px;
    justify-content: space-around;
  }

  .footer__contacts {
    width: 100%;
    padding: 0;
    margin-bottom: 46px;
  }

  .footer__offer {
    width: 100%;
    padding: 0;
  }

  .footer h3 {
    text-align: center;
  }

  .footer__header {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-color: #d7d9df;
      width: 288px;
      height: 1px;
      left: 11px;
      top: -31px;
    }
  }

  .contacts__email {
    color: #ffffff;

    &::after {
      content: "Почта";
      color: #fe7865;
      position: absolute;
      text-decoration: underline;
      top: auto;
      left: 153px;
      width: 0;
    }

    &::before {
      top: -3px;
      left: 112px;
    }

    &:hover {
      color: #ffffff;
    }
  }

  .contacts__tel {
    padding-left: 88px;

    &::before {
      top: 1px;
      left: 56px;
    }

    &::after {
      width: 288px;
      height: 1px;
      left: 11px;
      top: 48px;
    }
  }
}
