.header {
  width: 1182px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 19px;
}

.header__logo {
  box-sizing: border-box;
}

.main-nav {
  margin: 0;
  padding: 0;
  min-width: 500px;
}

.main-nav__list {
  font-family: "Montserrat", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;

  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-nav__about a {
  color: #141517;
  margin-right: 10px;

  &:hover {
    color: #fe7865;
  }
}

.main-nav__price a {
  color: #141517;

  &:hover {
    color: #fe7865;
  }
}

.main-nav__phone a {
  position: relative;
  width: 256px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #fe7865;
  text-align: right;
  margin-right: 26px;
  padding-left: 60px;
  text-decoration: underline;

  &::before {
    content: "";
    position: absolute;
    background: url("../img/phone-icon.svg") no-repeat;
    top: 0;
    left: 30px;
    width: 30px;
    height: 30px;
  }

  &:hover {
    color: rgba(20, 21, 23, 0.7);
  }

  &:hover::before {
    background: no-repeat url("/img/phone-icon-gray.svg");
  }
}

.toggle-nav {
  display: none;
}

.main-nav__close {
  display: none;
}

@media (max-width: 1023px) {
  .header {
    position: relative;
    width: auto;
    padding: 10px 0 14px 21px;
    margin-bottom: 0;
    box-sizing: border-box;
  }

  .toggle-nav {
    position: absolute;
    display: block;
    order: 3;
    cursor: pointer;
    border: 0;
    width: 72px;
    height: 50px;
    background-color: #fe7865;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;

    &::after {
      content: "";
      position: absolute;
      background: no-repeat url("../img/Menu.svg");
      width: 30px;
      height: 30px;
      top: 10px;
      right: 21px;
    }
  }

  .main-nav__phone a {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
  }

  .main-nav {
    min-width: 500px;
    padding-right: 72px;
  }

  .main-nav__close {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-nav {
    position: absolute;
    display: block;
    min-width: 320px;
    min-height: 434px;
    padding: 0;
    background-color: #ffffff;
    top: 0;
    left: 0;
    z-index: 5;
    padding-top: 134px;
  }

  .main-nav li {
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    padding: 17px 35px 17px 16px;
    background-color: #fbf8f8;
    margin-bottom: 30px;
  }

  .header__logo {
    align-self: start;
  }

  .main-nav__list {
    flex-direction: column;
    padding: 0;
  }

  .toggle-nav {
    width: 50px;
    height: 50px;

    &::after {
      top: 10px;
      right: 10px;
    }
  }

  .main-nav__phone {
    display: none;
  }

  .main-nav__close {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    right: 0;
    background: 0 0;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      top: 10;
      right: 0;
      width: 50px;
      height: 1px;
      background-color: rgba(20, 21, 23, 0.2);
      transform: rotate(45deg);
    }

    &::before {
      content: "";
      position: absolute;
      top: 10;
      right: 0;
      width: 50px;
      height: 1px;
      background-color: rgba(20, 21, 23, 0.2);
      transform: rotate(-45deg);
    }
  }

  .main-nav--nojs {
    display: block;
  }

  .main-nav--show {
    display: block;
  }

  .main-nav--hide {
    display: none;
  }
}
